/* 기본 스타일 */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 스크롤 디자인 */
  scrollbar-width: thin;
  scrollbar-color: #030303 #ffffff;
  /* 크롬에서 스크롤바 화살표 없애기 */
}

::-webkit-scrollbar {
  width: 8px;
}

/* 다크모드 스타일 */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    /* 스크롤 디자인 */
    scrollbar-color: #ffffff #030303;
  }
  button {
    background-color: #1a1a1a;
  }
}

/* 라이트모드 스타일 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    scrollbar-color: #030303 #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* data-theme으로 수동 제어 */
:root[data-theme="dark"] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  scrollbar-color: #ffffff transparent;
}

:root[data-theme="dark"] button {
  background-color: #1a1a1a;
}

:root[data-theme="light"] {
  color: #213547;
  background-color: #ffffff;

  scrollbar-color: #1a1a1a transparent;
}

:root[data-theme="light"] button {
  background-color: #f9f9f9;
}

/* 공통 스타일 */
body {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
